<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5_force_guide" >

<property name="pi" value="3.14159265"/>

  <!-- common stuff -->
  <xacro:include filename="$(find force_tracking)/description/common/common.gazebo.xacro" />

  <!-- include urdf -->
  <xacro:include filename="$(find force_tracking)/description/ur5/ur5_with_surface.urdf.xacro" />
  <xacro:include filename="$(find force_tracking)/description/sensor/optoforce.urdf.xacro" />

  <!-- robot arm : display the arm by setting prefix -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>
  <xacro:optoforce prefix=""/>

<!-- joint -->
<link name="world"/>

<joint name="base_link_world_fixed_joint" type="fixed">
  <parent link="world"/>
  <child link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <!--  <origin xyz="0 0 0" rpy="${pi} 0 0"/>-->
</joint>

    <joint name="surface_world" type="fixed">
      <parent link="world" />
      <child link = "surface" />
      <origin xyz="0.2326 0.2806 0.00697" rpy="${pi/2} 0.0 ${pi}" />
    </joint>

    <joint name="fixed_end_effector" type="fixed">
      <parent link="wrist_3_link"/>
      <child link="end_effector0"/>
      <origin xyz="0 0.1175 0" rpy="${pi/2} 0 0"/>
    </joint>






</robot>
